
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]
</IfModule>



<IfModule mod_rewrite.c>
   RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_URI} !(^/api)
    RewriteCond %{REQUEST_URI} !(^/admin)
    RewriteCond %{REQUEST_URI} !\.(css|jpe?g|png|js|gif|pdf|mp4|mov|swf|svg|ico|ttf|oft|eot|woff|woff2|json|xml|xsl)$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /frontend/index.html [L]

    RewriteCond %{REQUEST_URI} !(^/api)
    RewriteCond %{REQUEST_URI} !(^/admin)
    RewriteCond %{REQUEST_URI} !\.(xml|xsl)$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) /frontend/$1 [L]


    RewriteRule ^$ /frontend/index.html [L]

    RewriteCond %{REQUEST_URI} \.(xml|xsl)$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]

</IfModule>


<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
